{% extends 'ManagerAdminBundle::template1.html.twig' %}
{% block content -%}
<h1>Products list</h1>
<div class="content">
{% for entity in entities %}
    <div class="gallery_box">
        <a href="{{ path('product_show', { 'id': entity.id }) }}"><img src="{{ entity.image.webPath | apply_filter('product_thumb') }}" /></a>
        <h4><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.name }}</a></h4>
        <h5>{{ entity.quantity }}</h5>
        <h5>{{ entity.type }}</h5>
        <h5>{{ entity.quantity }}</h5>
        <div class="btn_se"><a href="{{ path('product_edit', { 'id': entity.id }) }}">Edit <span>&raquo;</span></a></div>
        <div class="cleaner"></div>          
    </div>
{%endfor%}
<ul>
            <li>
                <a href="{{ path('product_new') }}">
                    Create a new entry
                </a>
            </li>
</ul>

{% endblock %}