<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Shop Manager</title>
        {%block stylesheets%}
            <link href="{{ asset('bundles/manageradmin/css/T/style.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/manageradmin/css/ui-darkness/jquery-ui-1.10.3.custom.css')}}" rel="stylesheet" type="text/css" />
         {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/manageradmin/js/jquery-ui-1.10.3.custom.js') }}"></script>
            <script src="{{ asset('bundles/manageradmin/js/jquery-1.9.1.js') }}"></script>
        {% endblock %}
    </head>
    <body>

        <div id="slider">

            <div id="template_sidebar">
                <div id="template_header">
                    <a href="{{ path('category') }}" target="_parent"><img src="{{asset('/images/T/alex.png')}}" alt="SHOP MANAGER" /></a>
                </div> 

                <!-- end of header -->

                <ul class="navigation">
                    <li><a href="{{ path('manager_admin_homepage') }}" class="{% if app.request.get('_route') == 'manager_admin_homepage' %}selected{% endif %}">Home<span class="ui_icon home"></span></a></li>
                    <li><a href="{{ path('category') }}" class="{% if app.request.get('_route') == 'category' %}selected{% endif %}">Categories<span class="ui_icon services"></span></a></li>
                    <li><a href="{{ path('product') }}" class="{% if app.request.get('_route') == 'product' %}selected{% endif %}">Products<span class="ui_icon aboutus"></span></a></li>
                    <li><a href="{{ path('category_new') }}" class="{% if app.request.get('_route') == 'category_new' %}selected{% endif %}">New category<span class="ui_icon contactus"></span></a></li>
                    <li><a href="{{ path('product_new') }}" class="{% if app.request.get('_route') == 'product_new' %}selected{% endif %}">New product<span class="ui_icon gallery"></span></a></li>
                </ul>

            </div> <!-- end of sidebar -->

            <div id="template_main">
                <ul id="social_box">
                    <li><a href="http://www.facebook.com/templatemo"><img src="{{asset('/bundles/manageradmin/images/T/facebook.png')}}" alt="facebook" /></a></li>
                    <li><a href="http://www.facebook.com/templatemo"><img src="{{asset('/bundles/manageradmin/images/T/twitter.png')}}" alt="twitter" /></a></li>
                    <li><a href="http://www.facebook.com/templatemo"><img src="{{asset('/bundles/manageradmin/images/T/linkedin.png')}}" alt="linkin" /></a></li>
                    <li><a href="http://www.facebook.com/templatemo"><img src="{{asset('/bundles/manageradmin/images/T/technorati.png')}}" alt="technorati" /></a></li>
                    <li><a href="http://www.facebook.com/templatemo"><img src="{{asset('/bundles/manageradmin/images/T/myspace.png')}}" alt="myspace" /></a></li>                
                </ul>

                <div id="content">

                    {% block content %}
                    {% endblock %}
                </div> <!-- end of content -->

                <div id="template_footer">

                    Copyright © {{ 'now'|date('Y') }} <a href="www.facebooc.com">plm</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">yummy d-krich</a> by <a href="http://www.templatemo.com" target="_parent">Axon Turmentatu</a>

                </div> <!-- end of templatemo_footer -->

            </div> <!-- end of main -->
        </div>

    </body>
</html>